.movies-list {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  grid-column-gap: 20px;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
  padding: 3rem 2rem;
  row-gap: 21px;
}

@media (max-width: 1024px) {
  .movies-list {
    flex-wrap: nowrap;
  }

}
